@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:wght@900&family=Open+Sans:wght@400;800&display=swap');

* {
    border-radius: 16px;
    font-style: normal;

}

*p {
    color: rgba(red, green, blue, alpha);
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-size: 16px;

}

#banner {
    background-size: cover;
    background-image: url("../resources/Banner\ Image.png");
    width: 82.5%;
    margin: 41px auto 0;
    max-width: 1320px;
    height: 492px;

    text-align: center;
    font-family: 'Merriweather', serif;
    color: #fff;

}

#banner h4{
    font-size: 27px;
    font-weight: 400px;
    width: 230px;
    height: 30px;
    padding: 145px 435px 314px;
}

#banner #h-h4{
    font-size: 60px;
    width: 590px;
    height: 160px;
    font-size: 60px;
    line-height: 78px;
    padding: 191px 282px 145px;
}


/* ...  */

.new-year-offer {
    margin-top: 98px;
}

.new-year-offer .offer-text .first {
    color: #f00;
    text-align: center;
    font-size: 72px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}

.new-year-offer .offer-text h5 {
    color: #f00;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

.new-year-offer .offer-text .second {
    color: #070211;
    text-align: center;
    font-size: 40px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    margin-top: 14px;
}

.new-year-offer .offer-picture {
    flex-shrink: 0;
    height: 410px;
    width: 658px;
    margin: 0 212px;
}

/* welcome section  */

.wlcm-img {
    background-image: url("../resources/Vectorrr.png");
    background-size: cover;
    width: 82.5%;
    max-width: 1320px;
    height: 492px;
    margin: 140px auto 0;
}

.wlcm-img .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wlcm-img .container .wlcm-text h1 {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 4px;
    width: 525px;
    height: 144px;
}

.wlcm-img .container .wlcm-text p {
    color: rgba(255, 255, 255, 0.80);
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.wlcm-text {
    margin-left: 98px;

}

.wlcm-2024 {

    margin-right: 98px;
}

.button1 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
}

/* party center  */
.nav1 {
    background-color: rgb(247, 237, 237);
    width: 82.5%;
    margin: 103px auto 0;
    max-width: 1320px;
    height: 395px;
    flex-shrink: 0;

}

.nav1 #party-center {
    text-align: center;
    padding: 82px;
}

.button2 {
    margin-top: 50px;
    background: #f00;
    border-radius: 8px;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* gift-box section  */
.gifts-container {
    width: 82.5%;
    max-width: 1320px;
    height: auto;
    margin: 103px auto 0;
    background: #fff;
}

.gifts-container .gift-header {
    padding-top: 0;
    padding-left: 0;
}

.gifts-container .gift-header #g-h5 {
    color: #f00;
    font-size: 20px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}

.gifts-container .gift-header #g-h1 {
    color: #070211;
    font-size: 40px;
    line-height: normal;
    font-family: 'Merriweather', serif;
    margin-top: 13px;
}

.gifts-container .gift-header #g-par {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    margin-top: 18px;
    width: 735px;
}

.gifts-container .gift-header #g-par {
    padding-top: 0;
    padding-left: 0;
}

/* gift img  */
.gifts-container .gift-pho-container {
    margin-right: 18px;

}

.gifts-container .gift-pho-container .img1 {
    column-gap: 20px;
    display: flex;
    margin-top: 40px;
}

.gifts-container .gift-pho-container .img2 {
    column-gap: 20px;
    display: flex;
    margin-top: 18px;
}

.gifts-container .gift-pho-container .img1 .photo-display {
    width: 348px;
    height: 369px;
}

.gifts-container .gift-pho-container .img2 .photo-display {
    width: 348px;
    height: 369px;

}

/* subscribe  */
.subscribe {
    background: rgba(255, 0, 0, 0.05);
    width: 82.5%;
    height: 505px;
    margin: 98px auto 0;
}

.s-container {
    text-align: center;
}

.subscribe .s-container #mail-pic {
    width: 123px;
    height: 123px;
    margin-top: 65px;
}

.subscribe .s-container h1 {
    margin-top: 33px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;

}

.subscribe .s-container #s-par {
    margin: 18px 174px 40px;
    width: 735px;
    line-height: 26px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.subscribe .s-container #s-e {
    width: 531px;
    height: 60px;
    border: none;
    border-radius: 40px 0px 0px 40px;
    background: #fff;

    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: 'Inter', sans-serif;
}

.subscribe .s-container #s-b {
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 172px;
    height: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #fff;
    padding: 20px 46px;
    text-transform: capitalize;
}


/* footer  */
.f-container {
    width: 100%;
    max-width: 1600px;
    height: 609px;
    margin-top: 98px;
    background: #070211;
}

.f-container .f-text {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-style: solid;
    border: 3px;
    border-color: rgb(209, 209, 216);
}

.f-container .f-text .f1 {
    margin-top: 98px;
    margin-left: 114px;
}

.f-container .f-text .phone .f2 {
    margin-top: 98px;
    margin-right: 239px;
}

.f-container .f-text .phone .f3 {
    margin-top: 0px;
    margin-right: 225.5px;
}

.f-container .f-img hr {
    margin: 40px 114px;
    color: none;

}

.f-container .f-img {
    text-align: center;
}

.f-container .f-c-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 114px 98px;

    color: #fff;
    font-size: 20px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}